.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  color: #ffffff;
}

.emptyMessageWrapper {
  font-size: 20px;
  text-align: center;
}

.icon {
  width: 200px;
  height: 200px;
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

  font-size: 18px;
  color: #ffffff;

  cursor: pointer;
  border-radius: 5px;
  background-color: var(--main-theme-color);
  border: none;
}
