.year {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.yearPicker {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 4px;

  font-size: 19px;
  color: #ffffff;
  font-weight: 500;
}

.yearControl {
  display: flex;
  align-items: center;

  color: #ffffff;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 4px;

  &:hover {
    background-color: color-mix(in srgb, var(--main-theme-background) 90%, black);
  }
}

.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;

  background-color: var(--main-theme-color);
  border-radius: 15px;
}

.monthName {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.weekDays {
  display: flex;
  gap: 4px;
  margin-bottom: 5px;

  font-size: 12px;
}

.weekDay {
  display: flex;
  width: 25px;
  justify-content: center;

  color: #ffffff;
}

.daysGreed {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  gap: 4px;
}

.day {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 0;

  font-size: 14px;
  color: #ffffff;

  cursor: pointer;
  border-radius: 4px;

  transition: 0.2s all;

  &:hover {
    background-color: var(--accent-theme-color);
  }
}

.emptyDay {
  pointer-events: none;
}

.rating-1 {
  background: var(--rating-1);

  &:hover {
    background-color: color-mix(in srgb, var(--rating-1) 90%, black);
  }
}

.rating-2 {
  background: var(--rating-2);

  &:hover {
    background-color: color-mix(in srgb, var(--rating-2) 90%, black);
  }
}

.rating-3 {
  background: var(--rating-3);

  &:hover {
    background-color: color-mix(in srgb, var(--rating-3) 90%, black);
  }
}

.rating-4 {
  background: var(--rating-4);

  &:hover {
    background-color: color-mix(in srgb, var(--rating-4) 90%, black);
  }
}

.rating-5 {
  background: var(--rating-5);

  &:hover {
    background-color: color-mix(in srgb, var(--rating-5) 90%, black);
  }
}
